<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Test Manager</title>

    <!-- Bootstrap Core CSS -->
    <link href="../lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="../lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../lib/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="../lib/device-mockups/device-mockups.min.css">

    <!-- Theme CSS -->
    <link href="../css/new-age.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="bs-callout bs-callout-success">
                    <h4>Evaluarse de un cuestionario</h4>
                    <ol>
                        <li>Pulsar el botón de menú</li>
                        <li>Acceder a la sección Mis Cuestionarios</li>
                        <li>Pulsar el botón de evaluación en el cuestionario que se desear realizar.</li>
                        <li>Introducir el número de preguntas de las que se desea evaluar.</li>
                        <li>Se redirigirá a una sección donde se podra realizar la evaluación del cuestionario.
                        </li>
                        <li>Es necesario contestar todas las preguntas de respuesta única para obtener una calificación del cuestionario.
                        </li>
                        <li>Pulsar el botón LISTO y posteriormente se mostrará la calificación obtenida así como un sumario con
                            los resultados por pregunta.</li>
                    </ol>
                    <hr>
                    <video width="400" height="500" align="center" controls>
                        <source src="../video/evalar.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="bs-callout bs-callout-success">
                    <h4>Crear un cuestionario</h4>
                    <ol>

                        <li>Pulsar el botón de menú.</li>
                        <li>Acceder a la sección Crear cuestionario.</li>
                        <li>Rellenar los campos todos los campos del formulario.</li>
                        <ul>
                            <li>El campo Tipo de calificación determina la forma de evaluación del cuestionario.
                            </li>
                            <li>Para publicar el cuestionario públicamente en la nube es necesario marcar el campo "Deseas publicar
                                el cuestionario en la nube" con valor Si</li>
                        </ul>
                        <li>Una vez rellenado los campos pulsar el botón Crear.</li>
                    </ol>
                    <hr>
                    <video width="400" height="500" align="center" controls>
                        <source src="../video/crear.mp4" type="video/mp4">

                    </video>
                </div>
                <div class="bs-callout bs-callout-success">
                    <h4>Eliminar un cuestionario</h4>
                    <ol>
                        <li>Pulsar el botón de menú</li>
                        <li>Acceder a la sección Mis Cuestionarios</li>
                        <li>Pulsar el botón con forma de papelera en el cuestionario que se desear eliminar.
                        </li>
                        <li>Se mostrará un dialogo para comprobar la acción. Es conveniente citar que esta accion es irreversible.</li>
                        <li>Si se confirma la acción el cuestionario se borrará de la base de datos. Al eliminar el cuestionario
                            se eliminará sus estadísticas y resultados</li>
                    </ol>
                    <hr>
                    <video width="400" height="500" align="center" controls>
                        <source src="../video/eliminar.mp4" type="video/mp4">

                    </video>
                </div>
                <div class="bs-callout bs-callout-success">
                    <h4>Guardar un cuestionario de la nube</h4>
                    <ol>
                        <li>Pulsar el botón de menú.</li>
                        <li>Acceder a la sección Nube.</li>
                        <li>Si no encontramos el cuestionario a simple vista se puede realizar una búsqueda del cuestionario
                            que se deseamos guardar. Para ello simplemente hay que escribir un campo que lo diferencie, ya
                            sea el autor o el título del cuestionario.</li>
                        <li>Una vez encontrado el cuestionario se debe pulsar en botónn de guardar.</li>
                        <li>El cuestionario se guardará de forma privada y será accesible en la sección Mis cuestionarios.</li>
                    </ol>
                    <hr>
                    <video width="400" height="500" align="center" controls>
                        <source src="../video/nube.mp4" type="video/mp4">

                    </video>
                </div>
                <div class="bs-callout bs-callout-success">
                    <h4>Importar un cuestionario</h4>
                    <cite><strong> Esta funcionalidad solo está disponible en la versión web.</strong></cite>
                    <hr>
                    <ol>
                        <li>Acceder a la sección Crear cuestionario.</li>
                        <li>Seleccionar Importar.</li>
                        <li>Seleccionar un fichero en formato .json con la estructura de un cuestionario de Test Manager.</li>
                        <li>Pulsar el botón de importar.</li>

                    </ol>
                    <hr>
                    <video width="400" height="500" align="center" controls>
                        <source src="../video/importar.mp4" type="video/mp4">

                    </video>
                </div>
                <div class="bs-callout bs-callout-success">
                    <h4>Exportar un cuestionario</h4>
                    <cite><strong> Esta funcionalidad solo está disponible en la versión web.</strong></cite>
                    <hr>
                    <ol>
                        <li>Acceder a la sección Mis cuestionarios.</li>
                        <li>Pulsar el botón menú en el cuestionario que se desear exportar.</li>
                        <li>Al abrirse el menú desplegable pulsar el botón de exportar cuestionario.</li>
                        <li>El cuestionario se exportará en formato .json a traves del navegador.</li>
                    </ol>
                    <hr>
                    <video width="400" height="500" align="center" controls>
                        <source src="../video/descargar.mp4" type="video/mp4">

                    </video>
                </div>
                <div class="bs-callout bs-callout-success">
                    <h4>Consultar estadísticas</h4>
                    <ol>
                        <li>Pulsar el botón de menú.</li>
                        <li>Acceder a la sección Mis Cuestionarios</li>
                        <li>Pulsar el botón de estadísticas en el cuestionario que se desear consultar</li>
                        <li>Se redirigirá a la sección de estadísticas del cuestionario</li>
                        <li>En esta sección se mostrará una gráfica donde se puede observar el proceso de aprendizaje del cuestionario.
                            Además de la gráfica se mostrará todos los resultados de las evaluaciones pudiendo ordenarlos
                            por fecha y calicacián.</li>
                    </ol>
                    <hr>
                    <video width="400" height="500" align="center" controls>
                        <source src="../video/estadisticas_ind.mp4" type="video/mp4">

                    </video>
                </div>
                <div class="bs-callout bs-callout-success">
                    <h4>Descargar estadísticas</h4>
                    <cite><strong> Esta funcionalidad solo está disponible en la versión web.</strong></cite>
                    <hr>
                    <ol>
                        <li>Acceder a la sección Mis Cuestionarios.</li>
                        <li>Pulsar el botón menú en el cuestionario que se desea consultar</li>
                        <li>Al abrirse el menú desplegable pulsar el botón de estadísticas.</li>
                        <li>Se redirigirá a la sección de estadísticas del cuestionario.</li>
                        <li>En la parte superior derecha donde se muestra la gráfica de estadísticas pulsar el botón de descarga.</li>
                        <li>Se descargará las estadísticas del cuestionario en formato PDF.</li>
                    </ol>
                    <hr>
                    <video width="400" height="500" align="center" controls>
                        <source src="../video/descargar_estas.mp4" type="video/mp4">

                    </video>
                </div>

            </div>
        </div>
    </div>


    <!-- jQuery -->
    <script src="../lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="../js/new-age.min.js"></script>

</body>

</html>